        <footer id="footer-nav" class="d-flex text-white justify-content-between">
            <div class="navigation d-flex">
                <a href="/" class="item-nav d-flex align-items-center">
                    <p>Mentions légals</p>
                </a>
                <a class="item-nav d-flex align-items-center">
                    <p>Copyright</p>
                </a>
            </div>
        </footer>
    </body>
</html>
