#register-form{
    ul{
        padding: 0;
        margin: 0;
        li{
            color: red;
            font-size: 10.5px;
            margin-top: 2px;
            font-style: italic;
            text-align: center;
        }
    }
    .inscription{
        width: 70%;
        margin: 5.5rem 0 0.5rem 0;
    }
}