{% extends 'base.html.twig' %}
{% block body %}
<main id="schedule-main" class="single-page totaly-center">
<div class="content-schedule d-flex">
    <section class="content-schedule-menu">
        <div class="schedule-menu d-flex flex-column justify-content-between">
            <div class="item-schedule totaly-center">
                <p>MGA</p>
            </div>
            <div class="item-schedule totaly-center">
                <p>Bar</p>
            </div>
            <div class="item-schedule totaly-center">
                <p>Restaurant</p>
            </div>
            <div class="item-schedule totaly-center">
                <p>Snack</p>
            </div>
            <div class="item-schedule totaly-center">
                <p>Boutique</p>
            </div>
        </div>
    </section>
    <section class="planning totaly-center">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th colspan="3">Horaires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lundi</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td></td>
                </tr>
                    <tr>
                    <td>Mercredi</td>
                    <td></td>
                </tr>
                    <tr>
                    <td>Jeudi</td>
                    <td></td>
                </tr>
                    <tr>
                    <td>Vendredi</td>
                    <td></td>
                </tr>
                    <tr>
                    <td>Samedi</td>
                    <td></td>
                </tr>
                    <tr>
                    <td>Dimanche</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>



</main>
{% endblock %}
